# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.pkl
*.pt

# Virtual environment
.venv/
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Streamlit secrets
.streamlit/secrets.toml

# PyCharm or VSCode settings (opsional)
.idea/
.vscode/

# Mac/Linux/Windows system files
.DS_Store
Thumbs.db

# Logs
*.log

# Python dependency file lock (optional)
poetry.lock
Pipfile.lock
